#back{
    background: rgb(211,180,205);
background: radial-gradient(circle, rgba(211,180,205,1) 29%, rgba(172,189,209,1) 87%);
}
#container{
    border: 1px solid rgb(36, 32, 32);
    position: absolute;
    top: 250px;
    left: 550px;
   


}
#wrapper{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#hour ,#mins,#sec,#dot1{
    font-size:50px;
    font-weight: 600;
    color: rgb(37, 37, 37);
    word-spacing: 30px;
   

}
#ampm{
    font-size:25px;
    position: relative;
    left: 6px;
    bottom: 3px;
    color: rgb(87, 88, 88);
  
   
}